body{
  font-family: 'Roboto', sans-serif;
}

img{
  max-width: 100%;
}

.dbg{
  border: 1px dotted violet;
  /* background-color: black; */
}

.w_99{
  width: 99%;
}

header{
  height: 70px;
  display: flex;
  align-items: center;
  background-color: #F8F9FA;
}

.topbar{
  height: 50px;
  background-color: white;

}

.logo{
  width: 170px;
}

nav{
  height: 40px;
}

.options{
  width: 160px;
}

/* Main Main Main */
.menu{
  width: 150px;
  background-color: #061F36;
  height: calc(100vh - 70px);
}

.menu .btn:hover{
  background-color: rgba(128, 128, 128, 0.333);
}

.mr_container{
  width: calc(100vw - 150px);
  height: calc(100vh - 70px);
}

.banner{
  height: 120px;
  background-color: #1B72E9;
}

thead tr td{
  width: 20%;
}

thead tr td:first-child{
  width: 60%;
}

/* ***********************************
  ************************************
  *******SOLUZIONI RESPONSIVE*********
  ********************************++**
  ************************************ */

  @media screen and (max-width:1200px) {
    .logo{
      width: 88px;
    }
    
    .options{
      width: 50px;
    }

    .menu{
      width: 70px;
    }
    .menu .btn span{
      display: none;
    }

    .mr_container{
      width: calc(100vw - 70px);
    }
  }
  

  @media screen and (max-width:576px) {
    tr td:nth-child(2),
    tr td:nth-child(3){
      display: none;
    }
  }