body{
  font-family: 'Roboto', sans-serif;
}

img{
  max-width: 100%;
}

.dbg{
  border: 1px dotted violet;
  background-color: black;
}

header{
  line-height: 70px;
  height: 70px;
  
}
/* Main Main Main */
.menu{
  width: 150px;
  background-color: #061F36;
  height: calc(100vh - 70px);
}

.mr_container{
  width: calc(100vw - 150px);
  height: calc(100vh - 70px);
}

.banner{
  height: 120px;
  background-color: #1B72E9;
}

.row div{
  height: 500px;
}


/* ***********************************
  ************************************
  *******SOLUZIONI RESPONSIVE*********
  ********************************++**
  ************************************ */

  @media screen and (max-width:768px) {
    nav{
      width: 70px;
    }
    .mr_container{
      width: calc(100vw - 70px);
    }
  }
  

  @media screen and (max-width:576px) {
    
  }